* {
  font-family: helvetica, arial, sans-serif;
}

/* this styling is for an ID in the HTML document*/
#objective {
  font-size: 12px;
  font-style: italic;
}


/*this styling is for a div class */
.education {
  font-size: 15px;
}

/* this would only style list elemends in the education class
li.education
*/

/* you can style multipe classes or elements at one, e.g. with ".first, .last {}" or "h1, p {}"*/

/* you can have mulitple classes e.g. class="book domestic". With that, the css styling can be split up into ".book" and a seperate ".domestic" or ".foreign".
With this, .domestic and .foreign have different styling attributes while both are sharing parent styling attributes from .book"*/

body {
  color: DarkSlateGray;
  background-color: oldlace;
  /*background-color: #009;*/
}

a {
  color: SeaGreen;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h3 {
  font-variant: small-caps;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}


/* This turns a picture into a circle */

img {
  border-radius: 100%;
}


  font-weight: bold
  font-style: italic
  font-variant: small-caps
  text-transform: uppercase

/*this is from HTMLdog
  body {
      font-family: arial, helvetica, sans-serif;
      font-size: 14px;
      color: black;
      background-color: #ffc;
      margin: 20px;
      padding: 0;
  }


  p {
      line-height: 21px;
  }

  h1 {
      color: #ffc;
      background-color: #900;
      font-size: 2em;
      margin: 0;
      margin-bottom: 7px;
      padding: 4px;
      font-style: italic;
      text-align: center;
      letter-spacing: 0.5em;
      border-bottom-style: solid;
      border-bottom-width: 0.5em;
      border-bottom-color: #c00;
  }

  h2 {
      color: white;
      background-color: #090;
      font-size: 1.5em;
      margin: 0;
      padding: 2px;
      padding-left: 14px;
  }

  h3 {
      color: #999;
      font-size: 1.25em;
  }

  img {
      border-style: dashed;
      border-width: 2px;
      border-color: #ccc;
  }

  a {
      text-decoration: none;
  }

  strong {
      font-style: italic;
      text-transform: uppercase;
  }

  li {
      color: #900;
      font-style: italic;
  }

  table {
      background-color: #ccc;
  }
  */
